{% include header.html %}
    <main id="content">
      <article class="{{ page.classes }}">
        <header>
          <h2>{{page.title}}</h2>
          {% if page.description %}<p class="description">{{page.description}}</p>{% endif %}
        </header>
        <div class="content">
          {% assign bio = site.data.records[page.rec_id].interviewee %}
          <b>Name:</b> {{ r.name }}

          {% if bio.birthplace %}
          <b>Birthplace</b>: {{ bio.birthplace }}
          {% endif %}

          {% assign recording = site.data.records[page.rec_id].recording %}

          {% assign transcript = recording.transcript %}
          {% if transcript.interview %}
            <h2>Transcript</h2>
            <ol class="transcript" lang="{{transcript.language}}">
            {% for line in transcript.interview %}
              <li data-start="{{line.start}}" data-end="{{line.end}}"><b>{{line.who}}:</b> <p>{{ line.u }}</p></li>
            {% endfor %}
            </ol>
          {% endif %}

          {% assign translation = recording.translation %}
          {% if translation.interview %}
            <h2>Translation</h2>
            <ol class="translation" lang="{{translation.language}}">
            {% for line in translation.interview %}
              <li data-start="{{line.start}}" data-end="{{line.end}}"><b>{{line.who}}:</b> <p>{{ line.u }}</p></li>
            {% endfor %}
            </ol>
          {% endif %}

        </div>
      </article>
    </main>
{% include footer.html %}
