{% include header.html %}
    <main id="content">
      <article class="{{ page.classes }}">
        <header>
          <h2>{{page.title}}</h2>
          {% if page.description %}<p class="description">{{page.description}}</p>{% endif %}
        </header>
        <div class="content">
          <ul class="bio">
          {% assign bio = site.data.records[page.rec_id].interviewee %}
            <li><b>Name:</b> {{ bio.name }}</li>

          {% if bio.birthplace %}
            <li><b>Birthplace</b>: {{ bio.birthplace }}</li>
          {% endif %}
          </ul>

            {% assign recording = site.data.records[page.rec_id].recording %}

          <audio src="/assets/mp3/{{ recording.audio.file}}" controls="controls"></audio>

          <section class="recording">
            {% assign transcript = recording.transcript %}
            {% if transcript.interview %}
            <article id="transcript">
              <h2>Transcript</h2>
              <ol class="transcript" lang="{{transcript.language}}">
              {% for line in transcript.interview %}
                <li data-start="{{line.start.sec}}" data-end="{{line.end.sec}}"><b>{{line.who}}:</b> <p>{{ line.u }}</p></li>
              {% endfor %}
              </ol>
            </article>
            {% endif %}

            {% assign translation = recording.translation %}
            {% if translation.interview %}
            <article id="translation">
              <h2>Translation</h2>
              <ol class="translation" lang="{{translation.language}}">
              {% for line in translation.interview %}
                <li data-start="{{line.start.sec}}" data-end="{{line.end.sec}}"><b>{{line.who}}:</b> <p>{{ line.u }}</p></li>
              {% endfor %}
              </ol>
            </article>
            {% endif %}
          </section>

        </div>
      </article>
    </main>
{% include footer.html %}
